.banner {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4C956C;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  
}

.banner img {
padding-top: 1.5em;
}

.banner h2 {
  margin: 0 0 1em 0;
  color: #FEFEE3;
}

/* header h2 {
  align-self: center;
} */