nav {
  display: flex;
  height: 120px;
  width:100vw;
  position: fixed;
  top:0px;
  align-items: center;
  background-color: #2C6E49;
  color: #FEFEE3;
  padding: 0em 1.5em;
  z-index:1000;
  
}

nav span.logo {
  font-family: "Bungee", sans-serif;
  font-size:xx-large;
}

nav .caption {
  display: flex;
  flex-direction: column;
  margin-left:auto;
  font-size: x-large;
  font-weight: 300;
  
}

nav .caption:hover{
  cursor: pointer;
}

nav .caption i {
  color:#c15838;
  align-self: center;
  animation: bounce 0.4s infinite alternate ease-in-out;
}

@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.5em);
  }
}