.new-tweet {
}

.new-tweet form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.new-tweet-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0 0;
}
.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background: #2C6E49;
  color: #FEFEE3;
  border: #2C6E49 solid;
  border-radius: 0.3em;
  padding: 0.25em 0.5em;
}

.new-tweet button:hover {
  background: #FEFEE3;
  color: #2C6E49;
  border: #2C6E49 solid;
  border-radius: 0.3em;
  cursor: pointer;
}

.new-tweet textarea {
  margin-top:1em;
  resize: none;
  font-weight: bold;
  width: 100%;
  background: transparent;
  border:none;
  border-bottom: 0.25em solid #2C6E49;
}

.new-tweet textarea:focus{
  outline:none;
}

.new-tweet .counter {
  font-family: 'Bungee', sans-serif;
  font-size: 1.25em;
}

.form-invalid {
  color: crimson;
}

/* styling error message */
#error-message {
  margin-top: 1em;
  padding: 0.25em;
  color: crimson;
  border: crimson solid 4px;
  font-family: Bungee;
  font-size: .75em;
  font-style: normal;
  font-weight: bold;
}

#error-box {
  display: none;
}